html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #212121;
  font-family: "Merriweather Sans", Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
h1 .heading,
h2 .heading,
h3 .heading,
h4 .heading,
h5 .heading,
h6 .heading,
h1 .subheading,
h2 .subheading,
h3 .subheading,
h4 .subheading,
h5 .subheading,
h6 .subheading {
  font-family: "Lato", Tahoma, serif;
}
a {
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sixing: border-box;
}
::-moz-selection,
::selection {
  background: #428ed7;
  text-shadow: none;
}
.cf {
  *zoom: 1;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
}
.wrapper {
  width: 96%;
  max-width: 720px;
  margin: 0 auto;
}
header {
  padding: 2% 0;
}
header .heading,
header .subheading {
  float: left;
}
header .heading {
  font-size: 52px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
}
header .subheading {
  font-family: "Merriweather Sans", Arial, sans-serif;
  color: #999999;
}
.heading-wrapper {
  float: left;
  margin-top: 52px;
  width: 542px;
  /* 720 - 178px */
}
header .bar {
  display: block;
  float: left;
  height: 94px;
  width: 4px;
  margin-right: 12px;
  background-color: rgba(255, 255, 255, 0.1);
}
.cutout {
  display: block;
  position: relative;
  float: left;
  width: 166px;
  height: 195px;
  margin-right: 12px;
  background-image: url('../img/hex-portrait.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.small {
  display: none;
}
.hexagon {
  display: block;
}
.hex-wrap-lg {
  height: 82px;
}
.hex-wrap-sm {
  height: 42px;
  width: 36px;
  margin: 0 auto;
}
.hexagon-lg {
  position: relative;
  width: 75px;
  height: 43.30px;
  background-color: #102E4B;
  margin: 21.65px 0;
}
.hexagon-lg:before,
.hexagon-lg:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 37.5px solid transparent;
  border-right: 37.5px solid transparent;
}
.hexagon-lg:before {
  bottom: 100%;
  border-bottom: 21.65px solid #102E4B;
}
.hexagon-lg:after {
  top: 100%;
  width: 0;
  border-top: 21.65px solid #102E4B;
}
.hexagon-sm {
  position: relative;
  width: 36px;
  height: 20.78px;
  background-color: #1f5a93;
  margin: 10.39px 0;
}
.hexagon-sm:before,
.hexagon-sm:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
}
.hexagon-sm:before {
  bottom: 100%;
  border-bottom: 10.39px solid #1f5a93;
}
.hexagon-sm:after {
  top: 100%;
  width: 0;
  border-top: 10.39px solid #1f5a93;
}
nav {
  float: left;
  width: 83px;
  margin-right: 12px;
  padding: 0 4px;
}
nav a {
  transition: none;
}
nav a * {
  -webkit-transition: color 0.6s ease, letter-spacing 0.4s ease;
  -moz-transition: color 0.6s ease, letter-spacing 0.4s ease;
  -ms-transition: color 0.6s ease, letter-spacing 0.4s ease;
  -o-transition: color 0.6s ease, letter-spacing 0.4s ease;
  transition: color 0.6s ease, letter-spacing 0.4s ease;
}
nav a .text {
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #aaa;
  z-index: 3;
  top: 12px;
}
nav a .symbol {
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #aaa;
  z-index: 3;
  top: -8px;
  font-size: 36px;
  line-height: 36px;
}
nav a.hexagon-lg:hover {
  background-color: #164069;
}
nav a.hexagon-lg:hover .text {
  color: white;
  letter-spacing: 2px;
}
nav a.hexagon-lg:hover:before {
  border-bottom-color: #164069;
}
nav a.hexagon-lg:hover:after {
  border-top-color: #164069;
}
nav a.hexagon-sm:hover {
  background-color: #2d81d2;
}
nav a.hexagon-sm:hover .symbol {
  color: white;
}
nav a.hexagon-sm:hover:before {
  border-bottom-color: #2d81d2;
}
nav a.hexagon-sm:hover:after {
  border-top-color: #2d81d2;
}
main {
  float: left;
  width: 100%;
  max-width: 613px;
  min-height: 480px;
  margin-top: -52px;
  margin-left: 12px;
  padding: 5%;
  background-color: whitesmoke;
}
main .heading,
main .subheading {
  text-align: center;
}
main .heading {
  font-weight: 900;
  color: #0d273f;
}
main .subheading {
  font-weight: 700;
  color: #1b4d7e;
}
main p {
  text-align: justify;
  color: #091a2a;
  line-height: 1.4;
  letter-spacing: 0.5px;
}
.post-preview:after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  margin: 0 auto 47px;
  border-top: 1px dashed rgba(9, 26, 42, 0.1);
}
.preview {
  position: relative;
  z-index: 0;
}
.preview:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #f5f5f5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #f5f5f5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #f5f5f5 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#f5f5f5', GradientType=0);
  /* IE6-8 */
}
.preview,
.subheading + main p {
  margin-top: 24px;
}
.read-more {
  display: block;
  width: 135px;
  margin: 12px auto;
  margin-bottom: 52px;
  border-radius: 2px;
  border-bottom: none;
  padding: 12px;
  font-family: "Lato", Tahoma, serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #2467a8;
  color: white;
  opacity: 1;
}
.read-more:hover {
  opacity: 0.667;
}
.no-more {
  text-align: center;
}
.no-more a {
  border-bottom: 1px dotted #2467A8;
  padding-bottom: 2px;
  text-decoration: none;
  color: #2467A8;
}
.no-more a:hover {
  color: #428ed7;
  border-bottom: none;
}
.no-more br {
  display: none;
}
.post img {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 12px auto;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 5px;
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.33);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.33);
}
.caption {
  width: auto;
  max-width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 5px;
  padding-bottom: 12px;
  font-family: "Merriweather Sans";
  font-size: 15px;
  text-align: center;
}
.post .caption img {
  margin: 0;
  margin-bottom: 12px;
  border: none;
  padding: 0;
}
footer {
  clear: both;
  max-width: 613px;
  margin-left: auto;
  padding: 2%;
}
.logo {
  display: block;
  height: 100%;
  width: auto;
  margin: 0 auto;
  padding-top: 1em;
  opacity: 0.333;
}
.copyright {
  font-family: "Merriweather Sans";
  text-align: center;
  color: #444;
}
@media (max-width: 749px) {
  header .bar {
    display: none;
  }
  .cutout,
  .heading-wrapper {
    float: none;
    margin: 0 auto;
  }
  .heading-wrapper {
    margin-top: 2%;
    width: 100%;
  }
  .heading,
  .subheading {
    text-align: center;
  }
  header .heading,
  header .subheading {
    float: none;
  }
  header .heading {
    font-size: 42px;
  }
  nav {
    float: none;
    width: 100%;
    max-width: 360px;
    margin-right: 0;
    margin: 12px auto;
    padding: 0;
    padding-bottom: 12px;
  }
  .hex-wrap-lg {
    float: left;
    width: 50%;
  }
  .hexagon-lg,
  .hexagon-sm {
    margin-left: auto;
    margin-right: auto;
  }
  .hex-wrap-sm {
    float: left;
    width: 25%;
    margin: 0;
  }
  main {
    float: none;
    max-width: none;
    margin: 0;
  }
  footer {
    max-width: none;
    margin: auto;
  }
}
@media (max-width: 449px) {
  header .heading {
    font-size: 36px;
  }
  header .subheading {
    font-size: 13px;
  }
  .no-more br {
    display: inline;
  }
}
@media (max-width: 369px) {
  .small {
    display: inline;
  }
}
