hr {
  height: 1px;
  margin: 24px auto;
  border: 0;
  background-color: rgba(9, 26, 42, 0.1);
}
.post {
  color: #091a2a;
}
.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  color: #0d273f;
  font-weight: 900;
}
.post .subheading {
  font-weight: 700;
  color: #1b4d7e;
}
li + li,
ul li + li,
ol li + li {
  margin-top: 12px;
}
.post img {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 24px auto;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 5px;
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.33);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.33);
}
.caption {
  width: auto;
  max-width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 5px;
  padding-bottom: 12px;
  font-size: 14px;
  text-align: center;
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.33);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.33);
}
.post .caption img {
  margin: 0;
  margin-bottom: 12px;
  border: none;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.post a {
  border-bottom: 1px dotted #2467A8;
  padding-bottom: 2px;
  text-decoration: none;
  color: #2467A8;
}
.post a:hover {
  color: #428ed7;
  border-bottom: none;
}
blockquote {
  position: relative;
  margin: 24px;
  padding: 24px 36px;
  font-family: 'Merriweather', serif;
  font-size: 1.2em;
  font-style: italic;
  font-weight: 800;
  text-align: justify;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.333);
  line-height: 1.5;
  color: white;
  background-color: #2d81d2;
  box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.5);
}
blockquote:before,
blockquote:after {
  position: absolute;
  width: 36px;
  height: 24px;
  font-size: 32px;
  text-align: center;
}
blockquote:before {
  content: '\201C';
  left: 0;
  top: 8px;
}
blockquote:after {
  content: '\201D';
  right: 0;
  bottom: 8px;
}
blockquote p {
  margin: 0;
  display: inline;
}
/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+css-extras+clike+javascript+php+php-extras+sql&plugins=line-numbers+show-language */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
/**
 * Modified by Nathaniel Huff
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
/* Code blocks */
pre[class*="language-"] {
  margin: 24px 0;
  border-radius: 2px;
  padding: 1em;
  overflow: auto;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #111;
}
/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 3px 6px 6px;
  border-radius: 2px;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #AEAEAE;
}
.token.comment {
  font-style: italic;
}
.token.punctuation {
  color: #fff;
}
.namespace {
  opacity: .7;
}
.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #89bdff;
}
.token.boolean,
.token.number {
  color: #3387CC;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #65B042;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #E28964;
}
.token.atrule,
.token.attr-value {
  color: #e6db74;
}
.token.keyword {
  color: #E28964;
}
.token.regex,
.token.important {
  color: #fd971f;
}
.token.important {
  font-weight: bold;
}
.token.entity {
  cursor: help;
}
pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}
pre.line-numbers > code {
  position: relative;
}
.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}
.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}
pre[class*='language-'] {
  position: relative;
}
pre[class*='language-'] > code[data-language] {
  overflow: scroll;
  /*max-height: 28em;*/
  display: block;
}
pre[class*='language-'] > code[data-language]::before {
  content: attr(data-language);
  color: black;
  background-color: #CFCFCF;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.9em;
  border-radius: 0 0 0 5px;
  padding: 0 0.5em;
  text-shadow: none;
}
/*	Code styles for markup.	*/
.language-markup .token.punctuation {
  color: #89bdff;
}
.language-markup .token.attr-name {
  color: #89bdff;
}
.language-markup .token.attr-value {
  color: #65B042;
}
/* 	Code styles for Javascript.	*/
.language-javascript .token.function {
  color: #99CF50;
}
/*	Code styles for PHP. */
.language-php .token.variable {
  color: #3E87E3;
}
.language-php .token.function {
  color: #99CF50;
}
/*	Code styles for CSS. */
.language-css {
  color: #E28964 !important;
}
.language-css .token.selector {
  color: #89bdff;
}
.language-css .token.property {
  color: #3E87E3;
}
.language-css .id {
  color: #99CF50;
}
.language-css .class {
  color: #EB7D33;
}
.language-css .url {
  color: #65B042;
}
.language-css .pseudo-class {
  color: #FFEEB0;
}
